{# src/RS/CoreBundle/Resources/views/Core/index.html.twig #}
{% extends "RSCoreBundle::layout.html.twig" %}
{%  block body  %}
<div class="container-fluid">
    <aside class="banniere" style="margin-top: 4%;">
        <marquee onMouseOver="this.stop();" onMouseOut="this.start();">
         Site web en construction... Développeur web php, symfony2 ...
        </marquee>
    </aside>
 </div>
 <div class="container">
    <hr />
    <section class="row well presentation" style="margin-top: 3%; padding-top: 4%;">
        <div class="col-lg-3 col-md-3 col-lg-offset-1 col-md-offset-1">
            <img src="{{ asset("img/logodev.png") }}" class="transparent" style=" width: 300px; height: 80%; padding-left: 5%;" />
        </div>
        <div class="col-lg-5 col-md-5 col-lg-offset-1 col-md-offset-1">
            <h1>Vous cherchez un développeur web en freelance?</h1>
            ça tombe bien ! Je suis passionné par le web, freelance depuis peu.
            Si mon profil vous intéresse, n'hésitez pas à me <a href="">contacter</a> ou regardez mes <a href="#realisations">réalisations -></a>
        </div>
    </section>
 </div>
 <div class="container">
 <hr />
 </div>
 <div class="container-fluid">
    <div class="row" id="presentation">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <article style="padding-left: 5%; padding-right: 5%;margin-right: 35%;">
                <h2> Faites appel à mes services de développeur web </h2>
                    <p>
                    Vous êtes un particulier, une entreprise, un artisan, un auto-entrepreneur, une association, un commerçant...
                    <br/>
                    Vous désirez créer un site web, (indispensable de nos jours en termes de communication) .
                    <br/>
                    <strong> creer-monsite.fr</strong>
                    , développeur web, assure la création de votre site,
                    (site marchand, boutique e-commerce, site vitrine , forum , blog perso, ou campagne de pub),
                    d'après un cahier des charges établi selon vos critères et vos besoins .
                    <br/>
                    Mes connaissances en référencement et développement web vous permettront de faire aboutir vos projets en termes de communication web.
                    <br/> Demandez votre devis <strong> GRATUIT </strong> !
                    <br/>
                    en remplissant ce
                    <a href="#contact">formulaire</a>
                    , j'assure également  la maintenance les mises a jour, et les refontes de votre site.
                    <br/>
                    Je vous invite également à me suivre  sur les
                    <a href="#reseaux">réseaux sociaux.</a>
                    <br/>
                    <br/>
                    </p>
            </article>
        </div>
        <div class="col-lg-2 col-md-2 hidden-xs  hidden-sm " id="profil" >
        <div class="imgProfil">
                <abbr title=" Cliquez sur l'image pour agrandir" style="cursor:help;">
                    <img src="{{ asset('img/ma_photo_de_profil2.jpg') }}" alt="ma photo de profil"  class="imgProfil thumbnail photo" style="cursor:pointer; font-size" />
                </abbr>
            </div>
            <div>
                <address>
                    <i class="glyphicon glyphicon-user"></i>
                    Cyril Delage,
                    <br/>
                    professionnel indépendant
                    <br/>
                    N° SIRET : 814 224 358 00014
                    <br/>
                    <i class="glyphicon glyphicon-phone"></i>
                    06 38 33 11 15
                    <br/>
                    <i class="glyphicon glyphicon-envelope"></i>
                    cdelage.dev@gmail.com
                </address>
            </div>
        </div> {# fin div imgProfil #}
    </div> {# fin div row presentation #}
</div> {# fin div container fluid #}
<div class="container">
    <hr/>
</div>
<div class="container-fluid">
    <div class="row" id="services">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="text-center">Mes services</h2>
            <h3 class="text-center">
                intégration HTML5 et CSS3, audits et maintenance, spécialisé dans le développement objet Symfony2.
            </h3>
            <section style="margin-top: 4%;">
                <div class="col-md-2 front">
                    <h4 class="text-center titreSection">Front-end</h4>
                    <div class="col-md-3">
                        <img src="{{ asset('img/html.png') }}" />
                    </div>
                    <div class="col-md-3">
                        <img src="{{ asset('img/css.png') }}" />
                    </div>
                    <div class="col-md-3">
                        <img src="{{ asset('img/boot.png') }}" />
                    </div>
                    <div class="col-md-3">
                        <img src="{{ asset('img/jquery64.png') }}" />
                    </div>
                </div>

                <div class="col-md-2 col-md-offset-2 back">
                    <h4 class="text-center titreSection">Back-end</h4>
                    <div class="col-md-3">
                        <img src="{{ asset('img/php5.png') }}" />
                    </div>
                    <div class="col-md-3">
                        <img src="{{ asset('img/sf2-64.png') }}" />
                    </div>
                    <div class="col-md-3">
                        <img src="{{ asset('img/mysql.jpg') }}" />
                    </div>
                    <div class="col-md-3">
                        <img src="{{ asset('img/doctrineorm.jpg') }}" />
                    </div>
                </div>

                <div class="col-md-2 col-md-offset-2 extra">
                    <h4 class="text-center titreSection">Extra</h4>
                    <div class="col-md-3">
                        <img src="{{ asset('img/seo.jpg') }}" />
                    </div>
                    <div class="col-md-3">
                        <img src="{{ asset('img/git.jpg') }}" />
                    </div>
                    <div class="col-md-3">
                        <img src="{{ asset('img/phpstorm1.png') }}" />
                    </div>
                    <div class="col-md-3">
                        <img src="{{ asset('img/vbnet.jpg') }}" />
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<div class="container">
    <hr/>
</div>
<div class="container-fluid">
    <section class=""row">
        <div class="well" style="margin-left: -15px;margin-right: -15px;">
            <div id="carousel" class="carousel slide" style="margin-left: -15px;margin-right: -15px;">
                <ol class="carousel-indicators" style="">
                    <li data-target="#carousel" data-slide-to="0" class="active" ></li>
                    <li data-target="#carousel" data-slide-to="1" ></li>
                    <li data-target="#carousel" data-slide-to="2" ></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <h2 class="text-center" id="realisations" style="margin-bottom: 2%;">Mes réalisations</h2>

                            <div class="col-lg-3 col-xs-6 col-sm-3 col-md-3">
                                <a href="http://builderweb.fr/" class="thumbnail">
                                    <img src="{{ asset('img/creer-monsite.png') }}" alt="creer-monsite" class="img-polaroid" style="width: 100%;"/>
                                </a>
                                <h3  style="color: #333 ; position: relative; bottom: 15px;"> builderweb.fr</h3>
                            </div>

                            <div class="col-lg-3 col-xs-6 col-sm-3 col-md-3">
                                <a href="{{ asset('img/rs.png') }}" class="thumbnail">
                                    <img src="{{ asset('img/rs.png') }}" alt="smarthome" class="img-polaroid" style="width: 100%;"/>
                                </a>
                                <h3 style="color: #333; position: relative; bottom: 15px;">Réseau social(en construction)</h3>
                            </div>

                            <div class="col-lg-3 col-xs-6 col-sm-3 col-md-3">
                                <a href="{{ asset('http://speed-destock-41.com/') }}" class="thumbnail">
                                    <img src="{{ asset('img/SPEED DESTOCK 41.PNG') }}" alt="speed-destock 41" class="img-polaroid" style="width: 100%;"/>
                                </a>
                                <h3  style="color: #333;position: relative; bottom: 15px;">speed-destock41</h3>
                            </div>
                            <div class="col-lg-3 col-xs-6 col-sm-3 col-md-3">
                                <a href="{{ asset('img/depan.PNG') }}" class="thumbnail">
                                    <img src="{{ asset('img/depan.PNG') }}" alt="dépannage informatique et cours a domicile" class="img-polaroid" style="width: 100%;"/>
                                </a>
                                <h3  style="color: #333;position: relative;bottom: 15px; "> Projet perso dépannage informatique</h3>
                            </div> <!-- end lg-3-->
                        </div> <!-- end col-lg-12 -->
                    </div> <!-- end carousel activ -->
                    <div class="item">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <h2 class="text-center" style="margin-bottom: 2%;">Autres</h2>

                            <div class="col-lg-3 col-xs-6 col-sm-3 col-md-3">
                                <a href="{{ asset('img/advert.PNG') }}" class="thumbnail">
                                    <img src="{{ asset('img/advert.PNG') }}" alt="platforme d'annonce" class="img-polaroid" style="width: 100%;" />
                                </a>
                                <h3  style="color: #333;position: relative;bottom: 15px; ">Projet  Symfony</h3>
                            </div> <!-- end lg-3-->
                            <div class="col-lg-3 col-xs-6 col-sm-3 col-md-3">
                                <a href="{{ asset('img/builderweb2.PNG') }}" class="thumbnail">
                                    <img src="{{ asset('img/builderweb2.PNG') }}" alt="builderweb editeur de code source VBNet" class="img-polaroid" style="width: 100%;" />
                                </a>
                                <h3  style="color: #333;position: relative;bottom: 15px; "> BuilderWeb éditeur de texte VBNet</h3>
                            </div> <!-- end lg-3-->
                            <div class="col-lg-3 col-xs-6 col-sm-3 col-md-3">
                                <a href="{{ asset('img/architecte.png') }}" class="thumbnail">
                                    <img src="{{ asset('img/architecte.png') }}" alt="projet openclassrooms" class="img-polaroid" style="width: 100%;" />
                                </a>
                                <h3 style="color: #333; position: relative; bottom: 15px;">Projet Bootstrap </h3>
                            </div>

                            <div class="col-lg-3 col-xs-6 col-sm-3 col-md-3">
                                <a href="{{ asset('img/architecte2.png') }}" class="thumbnail">
                                    <img src="{{ asset('img/architecte2.png') }}" alt="projet openclassrooms" class="img-polaroid" style="width: 100%;" />
                                </a>
                                <h3 style="color: #333; position: relative; bottom: 15px;">Projet Bootstrap  </h3>
                            </div>
                        </div> <!-- end div lg-12 -->
                    </div> <!-- end div item -->
                </div> <!-- end carousel inner -->
                     <a class="left carousel-control" href="#carousel" data-slide="prev"><span class="icon-prev" style="color:#2C3E50;font-size: 50px;position: absolute;top: 0px;"></span></a>

                    <a class="right carousel-control" href="#carousel" data-slide="next"><span class="icon-next" style="color: #2C3E50;font-size: 50px;position: absolute;top: 0px;"></span></a>
            </div>
        </div>
    </section> <!-- end section row -->
    </div>{# end container-fluid #}
    <div class="container">
    <hr/>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top: 3%;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="text-center" id="retour">Les retours clients</h2>
                <div class="col-lg-4">
                    <article class="well retours">
                        <h3 class="text-center">Speed Destock 41</h3>
                        Mr Delage à su repondre à nos attentes, en mettant à profil ses compétences.
                        <br/>
                        Speed Destock 41 ne devait être à la base qu'un simple site vitrine, et Mr Delage a su nous convaincre à travers son potentiel et nous proposer un site e-commerce, 100% Symfony2, facil d'utilisation, gràce à un panel administrateur optimal, un suivi et des mises a jour régulières, un accompagnement et une formation claire. Notre gestion des stock est entièrement gérée grace a notre base de donnée, et aussi une sécurité optimale gràce à Symfony2.
                        <br/>
                        Speed Destock 41 recommande vivement les services et le potentiel de Mr Delage, Développeur web (<a href="http://creer-monsite.fr">creer-monsite.fr</a>)
                        <br/>
                        L'équipe Speed Destock <a href="http://speed-destock-41.com">Speed Destock 41</a>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <hr/>
    </div>
    <div class="container-fluid">
        <div class="row" style="">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well">
                <article>
                    <h2 class="text-center">Contactez moi!</h2>
                    <h3 class="text-center"><i>Je suis a votre ecoute pour:</i></h3>
                    <ul>
                        <li><i>Un devis gratuit</i></li>
                        <li><i>Vos offres d'emplois de developpeur web</i></li>
                        <li><i>Une collaboration, un partenariat</i></li>
                    </ul>
                    <hr />
                 {{ include('RSPanelBundle:Panel:formulaire.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}