<nav>
    <h6 class="text-center" style="color: #FFF;padding-top: 5%;margin-top:30%;">
        PANEL D'ADMINISTRATION
    </h6>
    
    <div class="menuPanel">
         <a href="{{ path('rs_panel_listeclients') }}" class="lienMenu">          
            <i class="glyphicon glyphicon-chevron-left"></i>
            Liste clients
        </a>
    </div>
    <div class="menuPanel">
         <a href="{{ path('rs_panel_boitemail') }}" class="lienMenu">          
            <i class="glyphicon glyphicon-chevron-left"></i>
            Boite mail
        </a>
    </div>
    <div class="menuPanel">
        <a href="{{ path('rs_facture_facture') }}" class="lienMenu" >          
            <i class="glyphicon glyphicon-chevron-left"></i>
             Les factures clients
        </a>
    </div>
    <div class="menuPanel">
        <a href=""  class="lienMenu" >          
            <i class="glyphicon glyphicon-chevron-left"></i>
            Les devis clients
        </a>
    </div>
    <div class="menuPanel">
        <a href="{{ path('rs_panel_devisform') }}" class="lienMenu">          
            <i class="glyphicon glyphicon-chevron-left"></i>
            Formulaire devis
        </a>
    </div>
    <div class="menuPanel">
         <a href="{{ path('rs_panel_factureform') }}" class="lienMenu">          
            <i class="glyphicon glyphicon-chevron-left"></i>
             Formulaire factures
        </a>
    </div>
    <div class="menuPanel">
         <a href="{{ path('rs_panel_listusers') }}" class="lienMenu">          
            <i class="glyphicon glyphicon-chevron-left"></i>
            Liste des utilisateurs du site
        </a>
    </div>
    <div class="menuPanel">
        <a href="{{ path('rs_panel_homepage') }}" class="lienMenu">         
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour au panel
        </a>
    </div>
    <div class="menuPanel">
        <a href="{{ path('rs_core_homepage') }}" class="lienMenu">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour 
        </a>
    </div>          
</nav>
      

