<nav>
    <h6 class="text-center" style="color: #FFF;padding-top: 5%;margin-top:30%;">
        PANEL D'ADMINISTRATION
    </h6>
    <div style="border: 1px solid;width: 100%;padding: 5%;" class="menuPanel">
        <a href="{{ path('rs_core_facturesClients') }}" style="color: #FFF;" />          
            <i class="glyphicon glyphicon-chevron-left"></i>
             Les factures clients
        </a>
    </div>
    <div style="border: 1px solid;width: 100%;padding: 5%;" class="menuPanel">
        <a href="{{ path('rs_core_devisClients') }}" style="color: #FFF;" />          
            <i class="glyphicon glyphicon-chevron-left"></i>
            Les devis clients
        </a>
    </div>
    <div style="border: 1px solid;width: 100%;padding: 5%;" class="menuPanel">
        <a href="" style="color: #FFF;" />          
            <i class="glyphicon glyphicon-chevron-left"></i>
            Formulaire devis
        </a>
    </div>
    <div style="border: 1px solid;width: 100%;padding: 5%;" class="menuPanel">
         <a href="" style="color: #FFF;" />          
            <i class="glyphicon glyphicon-chevron-left"></i>
             Formulaire factures
        </a>
    </div>
    <div style="border: 1px solid;width: 100%;padding: 5%;" class="menuPanel">
         <a href="{{ path('rs_core_listeclients') }}" style="color: #FFF;" />          
            <i class="glyphicon glyphicon-chevron-left"></i>
            Liste clients
        </a>
    </div>
    <div style="border: 1px solid;width: 100%;padding: 5%;" class="menuPanel">
        <a href="{{ path('rs_panel_homepage') }}" style="color: #FFF;"   />         
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour au panel
        </a>
    </div>
    <div style="border: 1px solid;width: 100%;padding: 5%;" class="menuPanel">
        <a href="{{ path('rs_core_homepage') }}" style="color: #FFF;"  />
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour 
        </a>
    </div>          
</nav>
      

