{# src/RS/CoreBundle/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  />
        <meta name="description" content="Vous cherchez un développeur web en freelance? , je créer votre site web, demandez votre devis gratuitement !  ">
        <meta name="keywords" content="développeur web, freelance, développeur php, développeur symfony2, développeur web freelance">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow, all">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/jquery.bxslider.css') }}" />
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            
        <link href="{{ asset('css/icon/css/component.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/rs.css') }}"  />
        <link rel="stylesheet" href="{{ asset('css/nivo-slider.css') }}"  />
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href=" http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
        {% endblock %}
        <script src="{{ asset('script/modernizr.custom.js') }}"></script>
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <title>
            {% block title %}
            Cyril Delage Développeur Web freelance
            {% endblock %}
        </title>
        <meta property="og:image" content="{{ asset('img/arobas.jpg') }}" />
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script>
          (function() {
            var script   = document.createElement('script');
            script.src   = '//api.codeur.com/widgets/profile.js?k=S-BRo9LmK-HK__Jp';
            script.async = true;

            var entry = document.getElementsByTagName('script')[0];
            entry.parentNode.insertBefore(script, entry);
          })();
        </script>
        
        <nav class="navbar navbar-default  navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Développeur web</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="{{ asset('img/avatar.svg') }}" class="avatar">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="#presentation">
                             <span class="glyphicon glyphicon-user"></span>
                                Présentation 
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href=""  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                             <span class="glyphicon glyphicon-wrench"></span>
                                Mes services
                            <span class="caret"></span>
                        </a>
                         <ul class="dropdown-menu">
                             <li>
                                <a href="#pack">
                                    Votre site web clef en main
                                </a>
                             </li>
                              <li>
                                  <a href="#services">
                                      Mes Services
                                  </a>
                             </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#competences">
                             <span class="glyphicon glyphicon-star-empty"></span>
                            Mes compétences
                        </a>
                    </li>
                    <li><a href="#realisations">
                         <span class="glyphicon glyphicon-briefcase"></span>
                            Mes réalisations
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Cyril Delage</a></li>
                    <li><a href="tel:0638331115">
                         <span class="glyphicon glyphicon-earphone"></span>
                        06.38.33.11.15
                        </a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                             <span class="glyphicon glyphicon-envelope"></span>
                            Contactez moi !
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#contact">
                                Demandez votre devis gratuit
                               </a>
                            </li>
                           {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li class="li-menu-header">
                                    Bienvenue     {{ app.user.username }}
                                </li>
                                <a href="{{ path ('fos_user_security_logout') }}" >
                                    <li class="li-menu-header">
                                        Déconnexion
                                    </li>
                                </a>
                            {% else %}
                            <li>
                                <a href="{{ path ('fos_user_security_login') }}" class="lien-log">Se connecter</a>
                            </li>
                            <li>
                                <a href="{{ path ('fos_user_registration_register') }}" class="lien-log">
                                    S'inscrire
                                </a>
                            </li>
                            {% endif %}
                            {#seul le ROLE_SUPER_ADMIN peut voir ce lien #}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('rs_panel_homepage') }}">
                                    <li class="li-menu-header">
                                        Panel d'administration
                                    </li>
                                </a>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav> 
    {% block body %}
         
    {% endblock %}
    <footer class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <a class="btn btn-primary icones-reseaux-sociaux" href="https://github.com/cyrilDel">
                    {# ici on va utiliser un sprite maj 8-5-16 #}
                    <img class="transparent img-icones-reseaux-sociaux" src="{{ asset('img/github.png') }}" />
                </a>
                <a class="btn btn-primary icones-reseaux-sociaux" href="https://twitter.com/THE_BUILDERWEB">
                    <img class="transparent img-icones-reseaux-sociaux" src="{{ asset('img/twitter.png') }}" />
                </a>
                <a class="btn btn-primary icones-reseaux-sociaux" href="https://www.facebook.com/Developpeur.Web.FullStack.Freelance/">
                    <img class="transparent img-icones-reseaux-sociaux" src="{{ asset('img/facebook.png') }}" />
                </a>
                <a class="btn btn-primary icones-reseaux-sociaux" href="https://www.linkedin.com/in/cyrildelage">
                    <img class="transparent img-icones-reseaux-sociaux" src="{{ asset('img/linkedin.png') }}" />
                </a>
                <a class="btn btn-primary icones-reseaux-sociaux" href="http://www.viadeo.com/fr/profile/cyril.delage4">
                    <img class="transparent img-icones-reseaux-sociaux" src="{{ asset('img/viadeo.png') }}" />
                </a>
                <a data-toggle="modal" href="#infos" class="btn btn-primary icones-reseaux-sociaux">
                    <i class="glyphicon glyphicon-phone glyphicon-tel" ></i>
                </a>
                <div class="modal" id="infos">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title modal-h4">
                                    Me joindre par téléphone :
                                </h4>
                            </div>
                            <div class="modal-body body-modal">
                                06.38.33.11.15
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary btn-modal" data-dismiss="modal">
                                    Fermer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-md-11-->
        </div>  <!-- end row-->
        <div class="row">
            <div class="col-xs-6">
                <span>Localisation actuelle: </span>
                <a href="localisation.php" class="lienFooter">
                    <abbr title="cliquer pour voir ma position">Paris</abbr>
                </a>
            </div>  <!-- end col-lg-4-->
            <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-4 col-xs-offset-2">
                <a href="{{ path('rs_core_mentionslegales') }}" class="lienFooter">Mentions légales</a>
            </div>
        </div>  <!-- end div row-->
    </footer>
        {% block javascripts %}
            <script>
                var oBlink = null;
                function cligno(){
                    // recup des éléments si pas encore fait
                    oBlink = oBlink || document.getElementsByClassName("cligno");
                    var i, nbr= oBlink.length;
                    for( i=0; i < nbr; i++){
                        // change visibility suivant le cas
                        oBlink[i].style.visibility = oBlink[i].style.visibility == 'hidden' ? 'visible' : 'hidden';
                    }
                }
                var timer=setInterval( cligno, 800);
            </script>
            <script>
                $('address').on('click', function(){
                         alert('Appelez moi au  06 38 33 11 15 ')
                         });
            </script>
<script src="{{ asset('scripts/portfolio.js') }}"></script>
<script src="{{ asset('scripts/jquery.nivo.slider.pack.js') }}"></script>
<script src="{{ asset('scripts/jquery.bxslider.min.js') }}"></script>
<script src="{{ asset('scripts/facebook.js') }}"></script>
<script src="{{ asset('scripts/dropdown.js') }}"></script>
<script src="{{ asset('scripts/carousel.js') }}"></script>
<script src="{{ asset('scripts/openWindows.js') }}"></script>
<script src="{{ asset('scripts/photo.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>