{# src/RS/PanelBundle/Resources/views/Panel/Panel.html.twig #}

{% extends "RSCoreBundle::layout.html.twig" %}

{% block body %}
<section class="container-fluid" style="">
    
    <div class="row">
        <div class="col-sm-2 alert" style="background-color:#20202A;padding: 0%;">
            {{ render(controller("RSCoreBundle:Core:menu")) }} 
        </div>
        <div class="col-sm-10">
             {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-success" style="margin-top:8%;">
                <p>Message flash : {{ message }}</p>
            </div>
            {% endfor %}
            <div class="alert alert-info" style="margin-top:8%;text-align: center;">
                <h2>Boite Mail</h2>
            </div>
            <br/>
           <i>Ce panel liste tout les mail reçu via le formulaire de contact</i>
            <br/>
            <br/>
            <div>
                <ul style="padding-left:2%;">
                    {% for mailer in listmailer %}
                    <li>
                        <a href="{{ path('rs_panel_assignerclient', {'id': mailer.id}) }}">
                            {{ mailer.courriel }} , {{ mailer.objet }} , {{ mailer.message }}
                        </a>
                        <a href="" class="btn btn-danger" style="float: right;">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a> 
                        <div style="border: 1px solid grey;float: right;height: 30px;padding: 0.5%;text-align: center;color: #20202A;width: 200px;margin-right: 5%;">
                            {% if mailer.client is not null %}
                            {{ mailer.client.name }}
                            {% endif %}
                            </div>
                         
                      
                    </li>
                    <hr/>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}

          