{% extends "RSCoreBundle::layout.html.twig" %}
{% block body %}
<div class="row">
    {% for message in app.session.flashbag.get('info') %}
     <div class="col-lg-6 col-lg-offset-3 alert alert-success">
         <p>Message flash : {{ message }}</p>
    </div>
    {% endfor %}
</div>
<section class="container-fluid" style="">  
    <div class="row">
        <div class="col-sm-2 alert" style="background-color:#20202A;height: 100%;padding: 0%;">
            {{ render(controller("RSCoreBundle:Core:menu")) }} 
        </div>
        <div class="col-sm-10">
            <div class="alert alert-info" style="margin-top:8%;text-align: center;">
                <h2>Liste des clients</h2>
            </div>
            <p style="margin-bottom: 4%;">
                Ce panel vous permet ds vérifier la liste de vos clients.
                
                <br/>
            </p>
            <div class="row">
            {% for client in listeClients %}
      <a href="" class="btn btn-danger" style="float: right;">
                <i class="glyphicon glyphicon-trash"></i>
            </a> 
                <div style="padding-left:2%;">
                Client:  
                    <a href="{{ path('rs_panel_client', {'id' : client.id}) }}">
                        <span style="font-weight: bold;">
                            {{ client.name }} 
                        </span>
                    </a>, 
                    Status:  <span style="font-weight: bold;">{{ client.status }} </span>
                    Adresse:  <span style="font-weight: bold;">{{ client.adresse }} </span>
                    ville:  <span style="font-weight: bold;">{{ client.ville }} </span>
                 <a href="{{ path('rs_facture_facture') }}">
                    <i class="glyphicon glyphicon-book"></i>
                    Facture
                </a>
                </div>
              <br/>
           <hr/>
            {% endfor %}
            </div>
        </div>
        <div class="row">
            <p>
                <a href="{{ path('rs_core_homepage') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Retour 
                </a>
            </p>
        </div>
    </div>
</section>

{% endblock %}