<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Facture</title>
        <link href="./css/facture.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Cyril Delage Développeur web Freelance</h1>
        <br/>
        
        <table id="enTete">
            <tr>
                <td colspan="1"></td>
                <td colspan="1"><h1>Facture</h1></td>
                <td colspan="1"></td>
            </tr>
            <tr>
                <td width="80">Page</td>
                <td width="100">Date</td>
                <td width="120">Ref</td>
            </tr>
            <tr>
                <td class="color">[[page_nb]]</td>
                <td class="color">{# {{ facture.date|date('d-m-Y') }} #}</td>
                <td class="color">{# {{ facture.reference }} #}</td>
            </tr>
        </table>
        <ul id="coordonnes">
                  <li>{# {{ facture.commande.livraison.nom }} {{ facture.commande.livraison.prenom }} #}</li> 
                 <li>{# {{ facture.commande.livraison.adresse}} #}</li> 
                <li>{# {{ facture.commande.livraison.cp }} {{ facture.commande.livraison.ville }} #} </li> 
        </ul>
        <table id="entity">
            <tr>
                <td width="50">CODE ARTICLE</td>
                <td width="280">DESIGNATION</td>
                <td width="100">QUANTITE</td>
                <td width="100">P.U - HT</td>
                <td width="105">MONTANT HT</td>
                <td width="105">MONTANT TTC</td>
            </tr>
                {% for articles in facture.commande.articles %}
                <tr>
                    <td class="color">{# {{ articles.code }} #}</td>
                    <td class="color">{# {{ articles.reference }} #}</td>
                    <td class="color">{# {{ articles.quantite }} #}</td>
                    <td class="color">{# {{ articles.prixHT }}  #}€</td>
                    <td class="color">{# {{ articles.prixHT * articles.quantite }} #} €</td>
                    <td class="color">{# {{ articles.prixTTC * articles.quantite }} #} €</td>
                </tr>
                {% endfor %}
        </table>
        <table id="total">
            <tr>
                <td width="120">TOTAL HT :</td>
                <td width="120" class="color">{# {{ facture.commande.prixHT }}  #}€</td>
            </tr>
         
            <tr>
                <td width="130">TOTAL TTC :</td>
                <td width="130" class="color">{# {{ facture.commande.prixTTC }} #} €</td>
            </tr>
        </table>
        <div id="footer">
             <span class="color strong">Cyril Delage</span> 
            <br/>
              <span class="color strong">Développeur Web</span> 
            <br />
            06 . 38 . 33 11 . 15
        </div>
    </body>
</html>